

/* English (Latin) Unicode range */
@font-face {
    font-family: 'redhat';
    src: url("../../public/fonts/fonts/static/RedHatText-Regular.ttf") format("truetype");
    font-weight: 400;
    unicode-range: U+0020-007F; /* Basic Latin */
}

@font-face {
    font-family: 'redhat';
    src: url("../../public/fonts/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
    font-weight: 600;
    unicode-range: U+0020-007F; /* Basic Latin */
}

@font-face {
    font-family: 'redhat';
    src: url("../../public/fonts/fonts/static/RedHatText-Bold.ttf") format("truetype");
    font-weight: 700;
    unicode-range: U+0020-007F; /* Basic Latin */
}

/* Persian Unicode range */
@font-face {
    font-family: 'redhat';
    src: url("../../public/fonts/fonts/static/RedHatText-Regular.ttf") format("truetype");
    font-weight: 400;
    unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF; /* Persian characters */
}

@font-face {
    font-family: 'redhat';
    src: url("../../public/fonts/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
    font-weight: 600;
    unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF; /* Persian characters */
}

@font-face {
    font-family: 'redhat';
    src: url("../../public/fonts/fonts/static/RedHatText-Bold.ttf") format("truetype");
    font-weight: 700;
    unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF; /* Persian characters */
}